.default-button{
    width: 140px;
    height: 40px;
    font-weight: 700;
    background-color: var(--accent-color);
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
   
}