.header-container{   
    width: 100%;
    max-width: 1200px;
    height: 53px;
    display:  flex;
    align-items: center;
    background-color: white;
    z-index: 101;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    justify-content: space-between;
}