.header-login{
    width: 100px;
    height: 35px;
    padding: 10px;
    display:  flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 6px;
}